<div class="parent">
         <div class="left-child">
           
            <mat-expansion-panel class="mat-panel-5"[expanded]="true">
                <mat-expansion-panel-header  class="header-content-5"
                [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                <mat-panel-title><mat-icon>event_note</mat-icon>&nbsp;
                Unit
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form class="form-content">
                  Total Unit&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; 
                  <!-- <input  class="expension-input" type="unit" name="Total Unit" size="7" [ngModel]="rowhover.total_unit"> -->{{rowhover.total_unit}}<br>
                  Pack Unit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; 
                <!-- <input class="expension-input" type="unit" name="Pack Unit" size="7" [ngModel]="rowhover.pack_unit"> -->{{rowhover.pack_unit}}<br>
                Loose Unit&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <input class="expension-input" type="unit" name="loose Unit" size="7" [ngModel]="rowhover.loose_unit"> -->{{rowhover.loose_unit}}<br>
                Unit In Pack&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <input class="expension-input" type="unit" name="loose Unit" size="7" [ngModel]="rowhover.unit_in_pack">  -->{{rowhover.unit_in_pack}}<br>
                Defective&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.defective}}
              </form>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-panel-6"[expanded]="true">
              <mat-expansion-panel-header  class="header-content-6"
              [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
              <mat-panel-title><mat-icon>wc</mat-icon>&nbsp;
              Date & price
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="form-content">
                MRP&nbsp;&nbsp;&nbsp;&nbsp;: {{rowhover.mrp}}<br>
                <!-- <input  class="expension-input" type="unit" name="Total Unit" size="7"> -->
                P.T.R&nbsp;&nbsp;&nbsp;&nbsp; :{{rowhover.ptr}}<br>
              <!-- <input class="expension-input" type="unit" name="Pack Unit" size="7"> -->
              Purchase&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.purchase_rate}}<br>
              <!-- <input class="expension-input" type="unit" name="loose Unit" size="7">  -->
              Gst&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.gst}}<br>
              Exp Date&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.exp_date}}<br>
              Mfg Date&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.mfg_date}}<br>
            </form>
        </mat-expansion-panel>
            <mat-accordion multi="false">
                <mat-expansion-panel class="mat-panel-1"[expanded]="true">
                    <mat-expansion-panel-header  class="header-content-1"
                     [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                     <mat-panel-title>
                       <mat-icon>assessment</mat-icon>&nbsp;
                     Medicine Detail
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form class="form-content">
                      Batch&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.batch_no}}<br>
                      <!-- <input  class="expension-input" type="unit" name="Total Unit" size="7"[ngModel]="rowhover.total_Unit"> -->
                    Company&nbsp;&nbsp;&nbsp;&nbsp; :{{rowhover.company}}<br>
                     <!-- <input class="expension-input" type="unit" name="Pack Unit" size="7"[ngModel]="rowhover.pack_Unit"> -->
                     Salt&nbsp;&nbsp;:{{rowhover.salt}}<br>
                     <!-- <input class="expension-input" type="unit" name="loose Unit" size="7"[ngModel]="rowhover.loose_Unit">  -->
                   </form>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-panel-2">
                  <mat-expansion-panel-header  class="header-content-2"
                   [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                   <mat-panel-title>
                      <mat-icon>payment</mat-icon>&nbsp;
                   Other Detail
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="form-content">
                    Category&nbsp;&nbsp;&nbsp;&nbsp;:{{rowhover.category}}<br>
                    <!-- <input  class="expension-input" type="unit" name="Total Unit" size="7"[ngModel]="rowhover.total_Unit"> -->
                  Min Qty&nbsp;&nbsp;&nbsp;&nbsp; :{{rowhover.min_quantity}}<br>
                   <!-- <input class="expension-input" type="unit" name="Pack Unit" size="7"[ngModel]="rowhover.pack_Unit"> -->
                  Max Qty&nbsp;&nbsp;:{{rowhover.max_quantity}}<br>
                   <!-- <input class="expension-input" type="unit" name="loose Unit" size="7"[ngModel]="rowhover.loose_Unit">  -->
                  Code&nbsp;&nbsp;:{{rowhover.code}}<br>
                  Location&nbsp;&nbsp;:{{rowhover.location}}<br>
                  Scheme&nbsp;&nbsp;:{{rowhover.scheme}}<br>
                  Barcode&nbsp;&nbsp;:{{rowhover.barcode}}<br>
                  Inclusive&nbsp;&nbsp;:{{rowhover.inclusive}}<br>
                  </form>
            </mat-expansion-panel>

        

     </mat-accordion>       



      </div>
        
          
 <!-- /////////////////////////////////////medicine table/////////////////////////////////////////-->
<!-- /////////////////////upper-left-field///////////////////////////////// -->

          <div class="right-child">
          <table class="upper-table">
              <tr class="heading-row">
                 <h1>Bill PAYMENT</h1>             
              </tr>
            
          <div class="left-field">
               <TR>
                  <td>Serial no:</td>
                  <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
               </TR>
               <TR>
                 <td>Date:</td>
                 <td><input class="input" type="default" name="Date" size="10"></td>
               </TR>
               <TR>
                 <td> Invoice no:</td>
                 <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
               </TR>
          </div>
    
 <!-- ////////////////////center-field/////////////////// -->    

         <div class="center-field">
               <TR>
                <td>name</td>
                <td><input class="input" type="TEXT" name="name" size="10" [matAutocomplete]="auto2" [(ngModel)]="custmerdata.name"></td>&nbsp;
                <mat-autocomplete   #auto2="matAutocomplete" >
                    <mat-option  *ngFor="let option of custmer" [value]="option" (click)="custmerRowSelect(option)" >
                      {{option.name}}{{option.store}}{{option.phone}}
                    </mat-option>
                  </mat-autocomplete>
                <td>Store:</td>
                <td><input class="input" type="TEXT" name="Store" size="10" [(ngModel)]="custmerdata.store"></td>
              </TR>
              <TR>
                <td>Address:</td>
                <td><input class="input" type="TEXT" name="Address" size="10" [(ngModel)]="custmerdata.address"></td>&nbsp;
                <td>Phone</td>
                <td><input class="input" type="Phone" name="Phone" size="10" [(ngModel)]="custmerdata.phone"></td>
             </TR>
             <TR>
              <td> Email:</td>
              <td><input class="input"type="TEXT" name="email" size="10" [(ngModel)]="custmerdata.email"></td>
             </TR>
        </div>
<!-- ////////////////////right-field/////////////////// -->
        <div class="right-field">  
          <TR>
            <td>Bill Id:</td>
            <td><input class="input" type="Bill no" name="Billrial no" size="10"></td> &nbsp;
            <td>PAN no:</td>
            <td><input class="input" type="Pan no" name="Pan no" size="10" [(ngModel)]="custmerdata.pan"></td> 
          </TR>
          <TR>
            <td>GST:</td>
            <td><input class="input" type="default" name="Date" size="10" [(ngModel)]="custmerdata.gst"></td>
         </TR>
         <TR>
            <td> DL no:</td>
            <td><input class="input" type="Dl no" name="Dl no" size="10" [(ngModel)]="custmerdata.l_no"></td>
         </TR>
      </div>
 <!-- /////////////////////medicine-data-table//////////////////-->
        <!-- <div class="medicine-table">       
                    <tr>
                      <th>Code</th>
                      <th>medicine</th> 
                      <th>Batch</th>
                      <th>Exp.</th>
                      <th>Qty.</th> 
                      <th>GST%</th>
                      <th>Sale Rs</th>
                      <th>Dis%</th> 
                      <th>Inc Rate</th>
                      <th>Amount</th>
                    </tr>
                    <tr *ngFor="let row of rows;let i:index" (click)="onSelect(row) ">
                      <td ><input class="medicine-row" type="text" name="code" size="8%" [matAutocomplete]="auto" [(ngModel)]="data.company_id" >
                        <mat-autocomplete   [displayWith]="displayFn" #auto="matAutocomplete" >
                          <mat-option  *ngFor="let option of medicineDetail" [value]="option"  (click)="rowSelect(option)" (mouseenter)="rowHover(option)"(click)="addFieldValue()">
                            {{option.med_name}}{{option.quantity}}{{option.type}}
                          </mat-option>
                        </mat-autocomplete>
                        </td>
                      <td><input class="medicine-row"  type="text" name="medicine" size="8%"[ngModel]="data.med_name"></td>
                      <td><input class="medicine-row" type="" name="Batch" size="8%" [(ngModel)]="data.batch_no"></td>
                      <td><input class="medicine-row" type="" name="Exp" size="8%" [(ngModel)]="data.exp"></td>
                      <td><input class="medicine-row" type="text" name="Qty" size="8%" [(ngModel)]="data.quantity"></td>
                      <td><input class="medicine-row" type="" name="GST" size="8%" [(ngModel)]="data.gst"></td>
                      <td><input class="medicine-row" type="" name="Sale Rs" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Dis" size="8%" [(ngModel)]="data.discount"></td>
                      <td><input class="medicine-row" type="" name="Inc Rate" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Amount" size="8%" [(ngModel)]="data.net_rate"></td>
                    </tr>

                    <tr *ngFor="let field of fieldArray; let i = index">
                      <td ><input class="medicine-row" type="text" name="code" size="8%" [matAutocomplete]="auto" [(ngModel)]="data.company_id">
                        <mat-autocomplete   #auto="matAutocomplete" >
                          <mat-option  *ngFor="let option of medicineDetail" [value]="option" (click)="rowSelect(option)" (click)="addFieldValue()" >
                            {{option.med_name}}{{option.quantity}}{{option.type}}
                          </mat-option>
                        </mat-autocomplete>
                        </td>
                      <td><input class="medicine-row"  type="text" name="medicine" size="8%"[ngModel]="data.med_name"></td>
                      <td><input class="medicine-row" type="" name="Batch" size="8%" [(ngModel)]="data.batch_no"></td>
                      <td><input class="medicine-row" type="" name="Exp" size="8%" [(ngModel)]="data.exp"></td>
                      <td><input class="medicine-row" type="text" name="Qty" size="8%" [(ngModel)]="data.quantity"></td>
                      <td><input class="medicine-row" type="" name="GST" size="8%" [(ngModel)]="data.gst"></td>
                      <td><input class="medicine-row" type="" name="Sale Rs" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Dis" size="8%" [(ngModel)]="data.discount"></td>
                      <td><input class="medicine-row" type="" name="Inc Rate" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Amount" size="8%" [(ngModel)]="data.net_rate"></td>
                    </tr>
                    
                 
        </div>            -->
        <div class="medicine-table">
        <div class="card">
            <div class="card-body">
              <div id="table" class="table-editable">
               
                <table  class="table table-bordered table-responsive-md table-striped text-center">
                  <tr>
                   
                    <th class="text-center">Code</th>
                      <th class="text-center">medicine</th> 
                      <th class="text-center">Batch</th>
                      <th class="text-center">Exp.</th>
                      <th class="text-center">Qty.</th> 
                      <th class="text-center">GST%</th>
                      <th class="text-center">Sale Rs</th>
                      <th class="text-center">Dis%</th> 
                      <th class="text-center">Inc Rate</th>
                      <th class="text-center">Amount</th>
                  </tr>
                  <tr *ngFor="let row of rows; let id = index" (click)="highlightRow(id)">
                    <td >
                       <span >
                          <input class="medicine-row" size="8%" [matAutocomplete]="auto" type="text" value="{{row.company_id}}" [formControl]="myControl">
                          <mat-autocomplete   [displayWith]="displayFn" #auto="matAutocomplete" >
                            <mat-option  *ngFor="let option of filteredOptions | async" [value]="option"  (click)="rowSelect(option)" (click)="addFieldValue()" (mouseenter)="rowHover(option)">
                                {{option.med_name}}{{option.quantity}}{{option.type}}
                            </mat-option>
                          </mat-autocomplete>
                        </span>
                    </td>
                    <td>
                      <span><input class="medicine-row" size="8%" type="text" value="{{row.med_name}}"></span>
                    </td>
                    <td>
                      <span><input class="medicine-row" size="8%" type="text" value="{{row.batch_no}}"></span>
                    </td>
                    <td>
                      <span><input class="medicine-row" size="8%" type="text" value="{{row.exp}}"></span>
                    </td>
                    <td>
                      <span><input class="medicine-row" size="8%" type="text" value="{{row.quantity}}"></span>
                    </td>
                    <td>
                        <span><input class="medicine-row" size="8%" type="text" value="{{row.gst}}"></span>
                    </td>
                    <td>
                        <span><input class="medicine-row" size="8%" type="text" value="{{row.net_rate}}"></span>
                    </td>
                    <td>
                        <span><input class="medicine-row" size="8%" type="text" value="{{row.dis}}"></span>
                    </td>  
                    <td>
                        <span><input class="medicine-row" size="8%" type="text" value="{{row.inc_rate}}"></span>
                    </td>
                    <td>
                        <span><input class="medicine-row" size="8%" type="text" value="{{row.amount}}"></span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- ////////////////////  demo/////////////////////////////////// -->
        <!-- <ng-container *ngIf="show">
        <div class="poptable">
          <app-popuptable></app-popuptable>
        </div>
      </ng-container> -->
<!-- ///////////////////////medicine-footer-data//////////////////////////// -->
                  <div class="lower-field">
                      <TR>
                        <td class="left">Discount:</td>
                        <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
                          <td class="right1">Gst:</td>
                        <td><input class="input" type="default" name="Date" size="10"></td>
                           <td class="right2"> Net Amount:</td>
                        <td><input  class="input" type="Invoice no" name="Invoice no" size="10"></td>
                      </TR>
                      <button mat-raised-button class="cancle_button" color="primary">cancle</button>
                      <button mat-raised-button class="submit_button" color="primary">submit</button> 
     
                  </div>
                  
    </table>
    
</div>
<!-- <app-popuptable (selectedUser)="data=$event"></app-popuptable> -->
</div>
