<div class="parent">
         <div class="left-child">
            <mat-accordion multi="false">
                <mat-expansion-panel class="mat-panel-1"[expanded]="true">
                    <mat-expansion-panel-header  class="header-content-1"
                     [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                     <mat-panel-title>
                       <mat-icon>assessment</mat-icon>&nbsp;
                     unit
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form class="form-content">
                      Total Unit&nbsp;&nbsp;&nbsp;&nbsp;
                      <input  class="expension-input" type="unit" name="Total Unit" size="7"[ngModel]="rowhover.total_Unit">
                    Pack Unit&nbsp;&nbsp;&nbsp;&nbsp; 
                     <input class="expension-input" type="unit" name="Pack Unit" size="7"[ngModel]="rowhover.pack_Unit">
                     Loose Unit&nbsp;&nbsp;
                     <input class="expension-input" type="unit" name="loose Unit" size="7"[ngModel]="rowhover.loose_Unit"> 
                   </form>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-panel-2">
                  <mat-expansion-panel-header  class="header-content-2"
                   [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                   <mat-panel-title>
                      <mat-icon>payment</mat-icon>&nbsp;
                   Sale detail
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="form-content">
                    Total Unit&nbsp;&nbsp;&nbsp;&nbsp;
                    <input  class="expension-input" type="unit" name="Total Unit" size="7"[ngModel]="rowhover.total_Unit">
                  Pack Unit&nbsp;&nbsp;&nbsp;&nbsp; 
                   <input class="expension-input" type="unit" name="Pack Unit" size="7"[ngModel]="rowhover.pack_Unit">
                   Loose Unit&nbsp;&nbsp;
                   <input class="expension-input" type="unit" name="loose Unit" size="7"[ngModel]="rowhover.loose_Unit"> 
                 </form>
            </mat-expansion-panel>

        
            <mat-expansion-panel class="mat-panel-3">
                <mat-expansion-panel-header  class="header-content-3"
                 [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                 <mat-panel-title><mat-icon>how_to_vote</mat-icon>&nbsp;
                 Salt
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form class="form-content">
                  Salt&nbsp;&nbsp;&nbsp;&nbsp;
                  <input  class="expension-input" type="unit" name="Total Unit" size="7">
                Salt&nbsp;&nbsp;&nbsp;&nbsp; 
                 <input class="expension-input" type="unit" name="Pack Unit" size="7">
                 Salt&nbsp;&nbsp;
                 <input class="expension-input" type="unit" name="loose Unit" size="7"> 
               </form>
          </mat-expansion-panel>

        <mat-expansion-panel class="mat-panel-4">
                    <mat-expansion-panel-header  class="header-content-4"
                     [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                     <mat-panel-title> <mat-icon>payment</mat-icon>&nbsp;
                     Demo
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form class="form-content">
                      Demo&nbsp;&nbsp;&nbsp;&nbsp;
                      <input  class="expension-input" type="unit" name="Total Unit" size="7">
                      Demot&nbsp;&nbsp;&nbsp;&nbsp; 
                     <input class="expension-input" type="unit" name="Pack Unit" size="7">
                     Demo&nbsp;&nbsp;&nbsp;&nbsp;
                     <input class="expension-input" type="unit" name="loose Unit" size="7"> 
                   </form>
              </mat-expansion-panel>
     </mat-accordion>       


              <mat-expansion-panel class="mat-panel-5"[expanded]="true">
                  <mat-expansion-panel-header  class="header-content-5"
                  [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                  <mat-panel-title><mat-icon>event_note</mat-icon>&nbsp;
                  Purchase detail
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="form-content">
                    PUR Unit&nbsp;&nbsp;&nbsp;&nbsp;
                    <input  class="expension-input" type="unit" name="Total Unit" size="7">
                    PUR Unit&nbsp;&nbsp;&nbsp;&nbsp; 
                  <input class="expension-input" type="unit" name="Pack Unit" size="7">
                  PUR Unit&nbsp;&nbsp;
                  <input class="expension-input" type="unit" name="loose Unit" size="7"> 
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-panel-6"[expanded]="true">
                <mat-expansion-panel-header  class="header-content-6"
                [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
                <mat-panel-title><mat-icon>wc</mat-icon>&nbsp;
                test
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form class="form-content">
                  PUR Unit&nbsp;&nbsp;&nbsp;&nbsp;
                  <input  class="expension-input" type="unit" name="Total Unit" size="7">
                  PUR Unit&nbsp;&nbsp;&nbsp;&nbsp; 
                <input class="expension-input" type="unit" name="Pack Unit" size="7">
                PUR Unit&nbsp;&nbsp;
                <input class="expension-input" type="unit" name="loose Unit" size="7"> 
              </form>
          </mat-expansion-panel>

      </div>
        
          
 <!-- /////////////////////////////////////medicine table/////////////////////////////////////////-->
<!-- /////////////////////upper-left-field///////////////////////////////// -->

          <div class="right-child">
          <table class="upper-table">
              <tr class="heading-row">
                 <h1>Bill PAYMENT</h1>             
              </tr>
            
          <div class="left-field">
               <TR>
                  <td>Serial no:</td>
                  <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
               </TR>
               <TR>
                 <td>Date:</td>
                 <td><input class="input" type="default" name="Date" size="10"></td>
               </TR>
               <TR>
                 <td> Invoice no:</td>
                 <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
               </TR>
          </div>
    
 <!-- ////////////////////center-field/////////////////// -->    

         <div class="center-field">
               <TR>
                <td>name</td>
                <td><input class="input" type="TEXT" name="name" size="10" [matAutocomplete]="auto2" [(ngModel)]="custmerdata.name"></td>&nbsp;
                <mat-autocomplete   #auto2="matAutocomplete" >
                    <mat-option  *ngFor="let option of custmer" [value]="option" (click)="custmerRowSelect(option)" >
                      {{option.name}}{{option.store}}{{option.phone}}
                    </mat-option>
                  </mat-autocomplete>
                <td>Store:</td>
                <td><input class="input" type="TEXT" name="Store" size="10" [(ngModel)]="custmerdata.store"></td>
              </TR>
              <TR>
                <td>Address:</td>
                <td><input class="input" type="TEXT" name="Address" size="10" [(ngModel)]="custmerdata.address"></td>&nbsp;
                <td>Phone</td>
                <td><input class="input" type="Phone" name="Phone" size="10" [(ngModel)]="custmerdata.phone"></td>
             </TR>
             <TR>
              <td> Email:</td>
              <td><input class="input"type="TEXT" name="email" size="10" [(ngModel)]="custmerdata.email"></td>
             </TR>
        </div>
<!-- ////////////////////right-field/////////////////// -->
        <div class="right-field">  
          <TR>
            <td>Bill Id:</td>
            <td><input class="input" type="Bill no" name="Billrial no" size="10"></td> &nbsp;
            <td>PAN no:</td>
            <td><input class="input" type="Pan no" name="Pan no" size="10" [(ngModel)]="custmerdata.pan"></td> 
          </TR>
          <TR>
            <td>GST:</td>
            <td><input class="input" type="default" name="Date" size="10" [(ngModel)]="custmerdata.gst"></td>
         </TR>
         <TR>
            <td> DL no:</td>
            <td><input class="input" type="Dl no" name="Dl no" size="10" [(ngModel)]="custmerdata.l_no"></td>
         </TR>
      </div>
 <!-- /////////////////////medicine-data-table//////////////////-->
        <div class="medicine-table">       
                    <tr>
                      <th>Code</th>
                      <th>medicine</th> 
                      <th>Batch</th>
                      <th>Exp.</th>
                      <th>Qty.</th> 
                      <th>GST%</th>
                      <th>Sale Rs</th>
                      <th>Dis%</th> 
                      <th>Inc Rate</th>
                      <th>Amount</th>
                    </tr>
                    <tr *ngFor="let row of rows">
                      <td ><input class="medicine-row" type="text" name="code" size="8%" [matAutocomplete]="auto" [(ngModel)]="data.company_id">
                        <mat-autocomplete   [displayWith]="displayFn" #auto="matAutocomplete" >
                          <mat-option  *ngFor="let option of medicineDetail" [value]="option"  (click)="rowSelect(option)" (mouseenter)="rowHover(option)"(click)="addFieldValue()">
                            {{option.med_name}}{{option.quantity}}{{option.type}}
                          </mat-option>
                        </mat-autocomplete>
                        </td>
                      <td><input class="medicine-row"  type="text" name="medicine" size="8%"[ngModel]="data.med_name"></td>
                      <td><input class="medicine-row" type="" name="Batch" size="8%" [(ngModel)]="data.batch_no"></td>
                      <td><input class="medicine-row" type="" name="Exp" size="8%" [(ngModel)]="data.exp"></td>
                      <td><input class="medicine-row" type="text" name="Qty" size="8%" [(ngModel)]="data.quantity"></td>
                      <td><input class="medicine-row" type="" name="GST" size="8%" [(ngModel)]="data.gst"></td>
                      <td><input class="medicine-row" type="" name="Sale Rs" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Dis" size="8%" [(ngModel)]="data.discount"></td>
                      <td><input class="medicine-row" type="" name="Inc Rate" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Amount" size="8%" [(ngModel)]="data.net_rate"></td>
                    </tr>

                    <tr *ngFor="let field of fieldArray; let i = index">
                      <td ><input class="medicine-row" type="text" name="code" size="8%" [matAutocomplete]="auto" [(ngModel)]="data.company_id">
                        <mat-autocomplete   #auto="matAutocomplete" >
                          <mat-option  *ngFor="let option of medicineDetail" [value]="option" (click)="rowSelect(option)" (click)="addFieldValue()" >
                            {{option.med_name}}{{option.quantity}}{{option.type}}
                          </mat-option>
                        </mat-autocomplete>
                        </td>
                      <td><input class="medicine-row"  type="text" name="medicine" size="8%"[ngModel]="data.med_name"></td>
                      <td><input class="medicine-row" type="" name="Batch" size="8%" [(ngModel)]="data.batch_no"></td>
                      <td><input class="medicine-row" type="" name="Exp" size="8%" [(ngModel)]="data.exp"></td>
                      <td><input class="medicine-row" type="text" name="Qty" size="8%" [(ngModel)]="data.quantity"></td>
                      <td><input class="medicine-row" type="" name="GST" size="8%" [(ngModel)]="data.gst"></td>
                      <td><input class="medicine-row" type="" name="Sale Rs" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Dis" size="8%" [(ngModel)]="data.discount"></td>
                      <td><input class="medicine-row" type="" name="Inc Rate" size="8%" [(ngModel)]="data.net_rate"></td>
                      <td><input class="medicine-row" type="" name="Amount" size="8%" [(ngModel)]="data.net_rate"></td>
                    </tr>
                    
                 
        </div>           
        <!-- ////////////////////  demo/////////////////////////////////// -->
        <!-- <ng-container *ngIf="show">
        <div class="poptable">
          <app-popuptable></app-popuptable>
        </div>
      </ng-container> -->
<!-- ///////////////////////medicine-footer-data//////////////////////////// -->
                  <div class="lower-field">
                      <TR>
                        <td class="left">Discount:</td>
                        <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
                          <td class="right1">Gst:</td>
                        <td><input class="input" type="default" name="Date" size="10"></td>
                           <td class="right2"> Net Amount:</td>
                        <td><input  class="input" type="Invoice no" name="Invoice no" size="10"></td>
                      </TR>
                  </div>
    </table>
</div>
<!-- <app-popuptable (selectedUser)="data=$event"></app-popuptable> -->
</div>
