<!-- 

<mat-sidenav-container fullscreen class="sidenav-container">   

        <mat-sidenav #sidenav id="sidenave"
        [class.menu-open]="isMenuOpen"
        [class.menu-close]="!isMenuOpen"
        mode="over"  opened >
          left Pannel
        </mat-sidenav>
        
    <mat-sidenav-content class="content"> 
            <mat-toolbar class="header" >
                  <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                  </button>
                     Home
             </mat-toolbar> 
             <mat-toolbar class="mini-nav"></mat-toolbar>
                  <div class="notes">
                      <app-notes></app-notes>
                    </div>
             
                  <div class="bill">
                   <app-bill></app-bill>
                </div>
                
     </mat-sidenav-content>
      
</mat-sidenav-container>
  
  <mat-toolbar class="mini">

  </mat-toolbar>
   -->
  



   <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>