// 1.toolbar(header)
// 2.sidenav(left-nav)
// 3.bill
// 4.notes


 ////////toolbar(header)////
 .mat-toolbar {
    background: black;
    color: #fff;
    z-index: 999;  
}
.mat-toolbar{
    height: 40px;
  }
.mat-toolbar.mini-nav{
    height: 6%;
    color: red;
    background-color: #fff;
    width: 81%;
    float: left;
}
.mat-toolbar-single-row.header {
    height: 48px;
}
 
////////sidenav(left-nav)//////
.mat-sidenav {
   
    z-index: -1;
    color: white;
    background-color: black;
    margin-top: 3.5%;
}
.content{
    background-color: aqua;
}
#sidenav.menu-open{
   width:  40px;
}
#sidenav.menu-close{
    width:  240px;
 }
 

///////notes//////
.notes{
    float: right;
    height: 100%;
    width: 19%;
    background-color: white;
  
}

///////bill////
.bill{
    height: 69%;
    width: 100%;
    margin-top: 12%;
    background-color:peru;

}


//////grid////////
mat-grid-tile {
    background: lightblue;
  }