

<mat-sidenav-container fullscreen class="sidenav-container">   

        <mat-sidenav #sidenav id="sidenave"
        [class.menu-open]="isMenuOpen"
        [class.menu-close]="!isMenuOpen"
         mode="over"  opened >
          left Pannel
        </mat-sidenav>
        
    <mat-sidenav-content class="content"> 
            <mat-toolbar class="header" >
                  <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                  </button>
                     Home
             </mat-toolbar> 
             <mat-toolbar class="mini-nav"></mat-toolbar>


             <div class="label-div">
             <mat-tab-group class="label-tabs">
                <mat-tab class="mat-tab-label" label="Notification">Notification</mat-tab>
                <mat-tab class="mat-tab-label" label="Notes">Notes</mat-tab>
                <mat-tab class="mat-tab-label" label="Reminder">Reminder</mat-tab>
                </mat-tab-group>
              </div>
     </mat-sidenav-content>
      
</mat-sidenav-container>
  
  <!-- <mat-toolbar class="mini">

  </mat-toolbar>
   -->
   