

<mat-sidenav-container fullscreen class="sidenav-container">   

        <!-- <mat-sidenav #sidenav id="sidenave"
        [class.menu-open]="isMenuOpen"
        [class.menu-close]="!isMenuOpen"
        mode="over"  opened >
          left Pannel
        </mat-sidenav> -->
        
    <mat-sidenav-content class="content"> 
                        <mat-toolbar class="header" >
                             <button mat-icon-button (click)="sidenav.toggle()">
                                 <mat-icon>menu</mat-icon>
                             </button>
                               Home
                         </mat-toolbar> 
               <table cellspacing="0" class="parent-table">   
                    <tr>      
                         <td class="mini-nav"> 
                            <mat-toolbar class="mini-nav"></mat-toolbar>
                        </td>
                        
  <!-- ///////////////////////notes-panel/////////////////////////////////////     --> 
                      
                         <td class="notes" rowspan="3"> <app-notes></app-notes> </td>
                        
                         </tr>
    <!-- //////////////////tickets/////////////////////////////////////////////  -->
               
                    <tr>
                      <td class="tickets">
                          <app-tickets></app-tickets>   
                      </td>
                      
                   </tr>              
 <!-- ///////////////////////bill-panel/////////////////////////////////////            -->
                  
                    <tr>
                        <td class="bill">     </td>
                        <!-- <app-bill></app-bill> -->
                   </tr>
               
              </table>
     </mat-sidenav-content>
      
</mat-sidenav-container>
  




   