// 1.toolbar(header)
// 2.sidenav(left-nav)
//3.notes pannel



 ////////toolbar(header)////
 .mat-toolbar {
    background: black;
    color: #fff;
    z-index: 999;  
}
.mat-toolbar{
    height: 40px;
  }
.mat-toolbar.mini-nav{
    height: 6%;
    color: red;
    background-color: #fff;
    width: 81%;
    float: left;
}
.mat-toolbar-single-row.header {
    height: 48px;
}
 
////////sidenav(left-nav)//////
.mat-sidenav {
   
    z-index: -1;
    color: white;
    background-color: black;
    margin-top: 3.5%;
}
.content{
    background-color: aqua;
}
#sidenav.menu-open{
   width:  40px;
}
#sidenav.menu-close{
    width:  240px;
 }
 

///////notes pannel///////
.mat-tab-label.mat-tab-label {
    min-width: 33.3%;
    background-color: blue; 
    }
    .mat-tab-label .mat-tab-label-content {
    color: white;
    font-size: 8px;
    }
    .mat-tab-group{
        height: 391px;
        width: 257px;
        border: 1px solid black;
        float: left;
        background-color: white;
    }
.label-div{
    height: 619px;
    background-color: black;
    width: 254px;
    float: left;
    border: 1px solid;

}