<div class="parent">
 
         <div class="left-child">
            <mat-accordion multi="false">
                <mat-expansion-panel class="mat-panel" hideToggle >
                    <mat-expansion-panel-header  class="header-content" [collapsedHeight]="'30px'" [expandedHeight]="'200px'">
                     <mat-panel-title>
                   unit
                   </mat-panel-title>
                  <mat-icon class="icon">arrow_right</mat-icon>  
                  </mat-expansion-panel-header>
                  <mat-form-field>

                       Total Unit: 
                       <INPUT TYPE="unit" NAME="Total Unit" SIZE="10" disabled="disabled"> 
                     Pack Unit: 
                      <INPUT TYPE="unit" NAME="Pack Unit" SIZE="10" disabled="disabled"> 
                      Loose Unit: 
                      <INPUT TYPE="unit" NAME="loose Unit" SIZE="10" disabled="disabled"> 
                  </mat-form-field>
             </mat-expansion-panel>
            </mat-accordion>
                   
          </div>
        
          
 <!-- ////////////////upper-field///////////////////-->
<!-- ////////////////////left-field/////////////////// -->
          <div class="right-child">
          <TABLE class="upper-table">
              <tr>
                 <h1>Bill PAYMENT</h1>             
              </tr>
            
          <div class="left-field">
               <TR>
                  <TD>Serial no:</TD>
                  <TD><INPUT TYPE="Serial no" NAME="Serial no" SIZE="10"></TD>
               </TR>
               <TR>
                 <TD>Date:</TD>
                 <TD><INPUT TYPE="default" NAME="Date" SIZE="10"></TD>
               </TR>
               <TR>
                 <TD> Invoice no:</TD>
                 <TD><INPUT TYPE="Invoice no" NAME="Invoice no" SIZE="10"></TD>
               </TR>
          </div>
    
 <!-- ////////////////////center-field/////////////////// -->    

         <div class="center-field">
               <TR>
                <TD>Name</TD>
                <TD><INPUT TYPE="TEXT" NAME="name" SIZE="10"></TD>&nbsp;
                <TD>Store:</TD>
                <TD><INPUT TYPE="TEXT" NAME="Store" SIZE="10"></TD>
              </TR>
              <TR>
                <TD>Address:</TD>
                <TD><INPUT TYPE="TEXT" NAME="Address" SIZE="10"></TD>&nbsp;
                <TD>Phone</TD>
                <TD><INPUT TYPE="Phone" NAME="Phone" SIZE="10"></TD>
             </TR>
             <TR>
              <TD> Email:</TD>
              <TD><INPUT TYPE="TEXT" NAME="email" SIZE="10"></TD>
             </TR>
        </div>
<!-- ////////////////////right-field/////////////////// -->
        <div class="right-field">  
          <TR>
            <TD>Bill Id:</TD>
            <TD><INPUT TYPE="Bill no" NAME="Billrial no" SIZE="10"></TD> &nbsp;
            <TD>PAN no:</TD>
            <TD><INPUT TYPE="Pan no" NAME="Pan no" SIZE="10"></TD> 
          </TR>
          <TR>
            <TD>GST:</TD>
            <TD><INPUT TYPE="default" NAME="Date" SIZE="10"></TD>
         </TR>
         <TR>
            <TD> DL no:</TD>
            <TD><INPUT TYPE="Dl no" NAME="Dl no" SIZE="10"></TD>
         </TR>
      </div>
 <!-- /////////////////////bill-data-table//////////////////-->
        <div class="bill-table">       
                    <tr>
                      <th>Code</th>
                      <th>Name</th> 
                      <th>Batch</th>
                      <th>Exp.</th>
                      <th>Qty.</th> 
                      <th>GST%</th>
                      <th>Sale Rs</th>
                      <th>Dis%</th> 
                      <th>Inc Rate</th>
                      <th>Amount</th>
                    </tr>
                    <tr>
                      <td><input type="" name="code" size="8%"></td>
                      <td><input type="text" name="Name" size="8%" ></td>
                      <td><input type="" name="Batch" size="8%" ></td>
                      <td><input type="" name="Exp" size="8%" ></td>
                      <td><input type="text" name="Qty" size="8%" ></td>
                      <td><input type="" name="GST" size="8%" ></td>
                      <td><input type="" name="Sale Rs" size="8%" ></td>
                      <td><input type="" name="Dis" size="8%" ></td>
                      <td><input type="" name="Inc Rate" size="8%" ></td>
                      <td><input type="" name="Amount" size="8%" ></td>
                    </tr>
                 
        </div>           
<!-- ///////////////////////footer-data//////////////////////////// -->
                  <div class="lower-field">
                      <TR>
                        <TD class="left">Discount:</TD>
                        <TD><INPUT TYPE="Serial no" NAME="Serial no" SIZE="10"></TD>
                          <TD class="right1">Gst:</TD>
                        <TD><INPUT TYPE="default" NAME="Date" SIZE="10"></TD>
                           <TD class="right2"> Net Amount:</TD>
                        <TD><INPUT TYPE="Invoice no" NAME="Invoice no" SIZE="10"></TD>
                      </TR>
                  </div>
    </TABLE>
</div>
</div>