<div class="parent">
  <div class="left-child"  *ngIf="!show">
     <mat-accordion multi="false"  *ngIf="!show">
         <mat-expansion-panel class="mat-panel-1"[expanded]="true">
             <mat-expansion-panel-header  class="header-content-1"
              [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
              <mat-panel-title>
                <mat-icon>assessment</mat-icon>&nbsp;
              unit
             </mat-panel-title>
           </mat-expansion-panel-header>
           <form class="form-content">
               Total Unit&nbsp;&nbsp;&nbsp;&nbsp;
               <input  class="expension-input" type="unit" name="Total Unit" size="7">
             Pack Unit&nbsp;&nbsp;&nbsp;&nbsp; 
              <input class="expension-input" type="unit" name="Pack Unit" size="7">
              Loose Unit&nbsp;&nbsp;
              <input class="expension-input" type="unit" name="loose Unit" size="7"> 
            </form>
       </mat-expansion-panel>

       <mat-expansion-panel class="mat-panel-2">
           <mat-expansion-panel-header  class="header-content-2"
            [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
            <mat-panel-title>
               <mat-icon>payment</mat-icon>&nbsp;
            Sale detail
           </mat-panel-title>
         </mat-expansion-panel-header>
         <form class="form-content">
           M.R.P&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input  class="expension-input" type="unit" name="Total Unit" size="7"><br>
             W.S Rate&nbsp;&nbsp;&nbsp; 
            <input class="expension-input" type="unit" name="Pack Unit" size="7">
            Spl.Rate&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="expension-input" type="unit" name="loose Unit" size="7"> 
            Min.GP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="expension-input" type="unit" name="loose Unit" size="7"> 
          </form>
     </mat-expansion-panel>

 
     <mat-expansion-panel class="mat-panel-3">
         <mat-expansion-panel-header  class="header-content-3"
          [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
          <mat-panel-title><mat-icon>how_to_vote</mat-icon>&nbsp;
          Salt
         </mat-panel-title>
       </mat-expansion-panel-header>
       <form class="form-content">
           Salt&nbsp;&nbsp;&nbsp;&nbsp;
           <input  class="expension-input" type="unit" name="Total Unit" size="7">
         <!-- Salt&nbsp;&nbsp;&nbsp;&nbsp; 
          <input class="expension-input" type="unit" name="Pack Unit" size="7">
          Salt&nbsp;&nbsp;
          <input class="expension-input" type="unit" name="loose Unit" size="7">  -->
        </form>
   </mat-expansion-panel>

 <mat-expansion-panel class="mat-panel-4">
             <mat-expansion-panel-header  class="header-content-4"
              [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
              <mat-panel-title> <mat-icon>payment</mat-icon>&nbsp;
              Demo
             </mat-panel-title>
           </mat-expansion-panel-header>
           <form class="form-content">
               Demo&nbsp;&nbsp;&nbsp;&nbsp;
               <input  class="expension-input" type="unit" name="Total Unit" size="7">
               Demot&nbsp;&nbsp;&nbsp;&nbsp; 
              <input class="expension-input" type="unit" name="Pack Unit" size="7">
              Demo&nbsp;&nbsp;&nbsp;&nbsp;
              <input class="expension-input" type="unit" name="loose Unit" size="7"> 
            </form>
       </mat-expansion-panel>
</mat-accordion>       


       <mat-expansion-panel class="mat-panel-5"[expanded]="true">
           <mat-expansion-panel-header  class="header-content-5"
           [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
           <mat-panel-title><mat-icon>event_note</mat-icon>&nbsp;
           Purchase detail
           </mat-panel-title>
         </mat-expansion-panel-header>
         <form class="form-content">
           Pur Rate&nbsp;&nbsp;&nbsp;&nbsp;
             <input  class="expension-input" type="unit" name="Total Unit" size="7">
             Excise&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
           <input class="expension-input" type="unit" name="Pack Unit" size="7">
           Scheme&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input class="expension-input" type="unit" name="loose Unit" size="7"> 
         </form>
     </mat-expansion-panel>

     <mat-expansion-panel class="mat-panel-6"[expanded]="true">
         <mat-expansion-panel-header  class="header-content-6"
         [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
         <mat-panel-title><mat-icon>wc</mat-icon>&nbsp;
           other Detail
         </mat-panel-title>
       </mat-expansion-panel-header>
       <form class="form-content">
         Expire&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input  class="expension-input" type="unit" name="Total Unit" size="7">
           Generic&nbsp;&nbsp;&nbsp;&nbsp; 
         <input class="expension-input" type="unit" name="Pack Unit" size="7">
         inclusive&nbsp;&nbsp;
         <input class="expension-input" type="unit" name="loose Unit" size="7"> 
       </form>
   </mat-expansion-panel>

</div>
 
   
<!-- /////////////////////////////////////medicine table/////////////////////////////////////////-->
<!-- /////////////////////upper-left-field///////////////////////////////// -->

   <div class="right-child">
   <table class="upper-table">
       <tr class="heading-row">
          <h1>Bill PAYMENT</h1>    <button (click)="show=true" float="right">click</button>          
       </tr>
     
   <div class="left-field">
        <TR>
           <td>Serial no:</td>
           <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
        </TR>
        <TR>
          <td>Date:</td>
          <td><input class="input" type="default" name="Date" size="10"></td>
        </TR>
        <TR>
          <td> Invoice no:</td>
          <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
        </TR>
   </div>

<!-- ////////////////////center-field/////////////////// -->    

  <div class="center-field">
        <TR>
         <td>name</td>
         <td><input class="input" type="TEXT" name="name" size="10"></td>&nbsp;
         <td>Store:</td>
         <td><input class="input" type="TEXT" name="Store" size="10"></td>
       </TR>
       <TR>
         <td>Address:</td>
         <td><input class="input" type="TEXT" name="Address" size="10"></td>&nbsp;
         <td>Phone</td>
         <td><input class="input" type="Phone" name="Phone" size="10"></td>
      </TR>
      <TR>
       <td> Email:</td>
       <td><input class="input"type="TEXT" name="email" size="10"></td>
      </TR>
 </div>
<!-- ////////////////////right-field/////////////////// -->
 <div class="right-field">  
   <TR>
     <td>Bill Id:</td>
     <td><input class="input" type="Bill no" name="Billrial no" size="10"></td> &nbsp;
     <td>PAN no:</td>
     <td><input class="input" type="Pan no" name="Pan no" size="10"></td> 
   </TR>
   <TR>
     <td>GST:</td>
     <td><input class="input" type="default" name="Date" size="10"></td>
  </TR>
  <TR>
     <td> DL no:</td>
     <td><input class="input" type="Dl no" name="Dl no" size="10"></td>
  </TR>
</div>
<!-- /////////////////////medicine-data-table//////////////////-->
 <div class="medicine-table" >   
           
             <tr>
              <th>S.No</th>
               <th>Code</th>
               <th>Medicine</th> 
               <th>Batch</th>
               <th>Exp.</th>
               <th>Qty.</th> 
               <th>GST%</th>
               <th>Sale Rs</th>
               <th>Dis%</th> 
               <th>Inc Rate</th>
               <th>Amount</th>
             </tr>
             <tr *ngFor="let enum of enum_details; let i = index" >
                <!-- (click)="show=true" -->
               <td >{{i +1}}</td> 
               <td><input class="medicine-row"  type="" name="code" size="8%"></td>
               <td><input class="medicine-row"  type="text" name="medicine" size="8%"></td>
               <td><input class="medicine-row" type="" name="Batch" size="8%" ></td>
               <td><input class="medicine-row" type="" name="Exp" size="8%" ></td>
               <td><input class="medicine-row" type="text" name="Qty" size="8%" ></td>
               <td><input class="medicine-row" type="" name="GST" size="8%" ></td>
               <td><input class="medicine-row" type="" name="Sale Rs" size="8%" ></td>
               <td><input class="medicine-row" type="" name="Dis" size="8%" ></td>
               <td><input class="medicine-row" type="" name="Inc Rate" size="8%" ></td>
               <td><input class="medicine-row" type="" name="Amount" size="8%" ></td>
             </tr>
        
 </div>           
 <!-- ////////////////////  demo/////////////////////////////////// (click)="openDialog()"-->
 <!-- <ng-container *ngIf="show">
         <div class="poptable">
           <app-popuptable></app-popuptable>
         </div>
       </ng-container> -->
      
                                <!-- <ng-container > -->
                                   
                                      <app-medicinetable *ngIf="show"></app-medicinetable>
                                   
                                  <!-- </ng-container> -->
<!-- ///////////////////////medicine-footer-data//////////////////////////// -->
           <div class="lower-field">
               <TR>
                 <td class="left">Discount:</td>
                 <td><input  class="input" type="Serial no" name="Serial no" size="10"></td>
                   <td class="right1">Gst:</td>
                 <td><input class="input" type="default" name="Date" size="10"></td>
                    <td class="right2"> Net Amount:</td>
                 <td><input  class="input" type="Invoice no" name="Invoice no" size="10"></td>
                 <button mat-raised-button  *ngIf="!show" class="submit-bill" (click)="onClick">Submit</button>
               </TR>
               
           </div>
           
</table>
</div>
</div>
