
    <div class="main">
    <mat-card class="header">
                

      <!-- form div -->
      <mat-card-content class="input-form" >
                  <h2 class="company-name">Sign in into XYZ Limited</h2>
        <!-- <form>
                  <mat-form-field class="input-field" appearance="outline">
                        <input class="user-name" matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                        <mat-icon matPrefix>account_circle</mat-icon>
                  </mat-form-field>
                
                  <mat-form-field class="input-field" appearance="outline">
                        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                        <mat-icon matPrefix>lock</mat-icon>            
                  </mat-form-field>
         </form>      -->
         <!-- <button class="login-button" mat-raised-button (click)="login()" color="primary">Login</button> -->
      </mat-card-content>
      
      <!-- right div -->
                   <div class="right-side">
                          <p class="text">
                              hello user<br>
                              this is over login pannel
                        
                        </p>
                   </div>
      </mat-card>
   
</div>