
.main{
  height: 100vh;
  background-size: 100% 100%; 
  background-image: url('/assets/images/background.jpg');
}
.header{
  top: 79px;
  width: 70%;
  height: 500px;
  opacity: 0.7;
  left: 15%;
  border-radius: 10px;
  padding: 0px;
}

.input-form{
  width: 65%;
  height: 100%;
  float: left;
  background-color:none;
  border-radius: 10px 0 0 10px;
  opacity: 1;
  }


.input-field{
  margin-top: 30px;
}
.login-button{
  margin-top: 50px;
  width: 40px;
}


.right-side {
  width: 35%;
  height: 100%;
  background-color: #39A9AA;
  float: left;
  border-radius: 0 10px 10px 0;
}
.text{
  margin-top: 90px;
  font-size: 20px;
}
 .company-name{
  margin-top: 30px;
  text-align: left;
 }