// 1.toolbar(header)
// 2.sidenav(left-nav)
// 3.tickect nav
// 4.parent-table-css



 //////////////////toolbar(header)///////////////////////
 .mat-toolbar {
    background: black;
    color: #fff;
    z-index: 999;  
}
.mat-toolbar{
    height: 40px;
  }
  .mat-toolbar-single-row.header {
    height: 45px;
}
 
////////////////////sidenav(left-nav)///////////////////
.mat-sidenav {
   
    z-index: -1;
    color: white;
    background-color: black;
    margin-top: 3.5%;
}
#sidenav.menu-open{
    width:  40px;
 }
 #sidenav.menu-close{
     width:  240px;
  }

  ///////////////////////ticket-nav-bar////////////////////
.mat-toolbar.mini-nav{
    height: 100%;
    background-color: #fff;
    width: 100%;
   
}


///////////////////////////nav-bar-content////////////////

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 103%;
    overflow: auto;
}

.mat-sidenav-content.mat-sidenav-content{
    height: 104%;
}


////////////////////////////parent-table-css///////////////////////

.parent-table{
    width:100%; 
    height:93%;
    border:1px;
}
.tickets{
    height:0.8%;    
    background-color:#E0DCDC;
    padding: 0px;
}
.mini-nav{
    width: 84%;
    height: 6%;
    padding: 0px;
    
}
.notes{
  
     width:16%;
    height:100% ;
     
}
.bill{
    height: 20%;
    padding:0px;
    background-color: #E0DCDC; 
}