///////notes pannel///////
// .mat-tab-label{
//     min-width: 33.3%;
//     background-color: blue; 
//     height: 48px;
//     padding: 0 8px;
//     cursor: pointer;
//     box-sizing: border-box;
//     opacity: .6;
//     min-width: 2px;
//     text-align: center;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     white-space: nowrap;
//     position: relative;
//     }
//     .mat-tab-label {
//     color: white;
//     font-size: 7px;
//     }
    .mat-tab-group{
        height: 50%;
        width: 100%;
        border: 1px solid black;
        float: left;
        background-color: #dd2121;
    }
// .label-div{
//     height: 619px;
//     background-color: black;
//     width: 254px;
//     float: left;
//     border: 1px solid;

// }


.mat-tab-label{
    color: blue;
    font-size: 8px;
    background-color: blue;
    
}