<table class="medicine-table">
   
        <h1>Medicine Table</h1>
   
    <div class="upper-field">
      
        <tr>
           <td>Name</td>
           <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
           <td>Comapny</td>
           <td><input class="input" type="default" name="Date" size="10"></td>
           <td> Location</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
        </tr>
        <tr>
           <td> Packing</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
           <td>Unit</td>
           <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
           <td>Mfg. By</td>
           <td><input class="input" type="default" name="Date" size="10"></td>
        </tr>
         <tr>
            <td>Box Qty.</td>
            <td><input class="input" type="Serial no" name="Serial no" size="10"></td>
            <td>Case Qty.</td>
           <td><input class="input" type="default" name="Date" size="10"></td>
           <td>Status</td>
           <td><input class="input" type="default" name="Date" size="10"></td>
         </tr>
        </div>
           <div class="sale">
            <p>Sale Rate</p>
            <tr> 
           <td> Sale Rate</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
           <td> M.R.P</td>
            <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
            <td> W.S Rate</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
         </tr>     
         <tr> 
           <td> Spl.Rate</td>
          <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
          <td> Min.GP</td>
          <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td></tr>
        </div>
        <div class="purchase">
            <p>Purchase Detail</p>
            <tr> 
           <td> Pur Rate</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
           <td> Excise</td>
            <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
            <td>Scheme</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
         </tr>     
         <tr> 
           <td>NR</td>
          <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
        </div>

        <div class="other-detail">
            <p>other Detail</p>
            <tr> 
           <td>Expire</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
           <td>Generic</td>
            <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
            <td>inclusive</td>
           <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
         </tr>     
         <tr> 
           <td>Max Inv.Qty</td>
          <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
          <td>MRP for Sale</td>
          <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
        </div>
        <div class="extra">
            <p>Extra Detail</p>
            <tr> 
                <td>Current Scheme</td>
               <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
               <td>Category</td>
               <td><input class="input" type="Invoice no" name="Invoice no" size="10"></td>
             </div>

       
        <button class="button-1" type="exit">Exit</button>
        <button class="button-2" type="submit">Save</button>
  
</table>

<router-outlet></router-outlet>
