///////notes pannel///////

.mat-tab-label.mat-tab-label {
    min-width: 33.3%;
    background-color: rgb(6, 78, 136);
    padding: 0px 1px;
    height: 40px;
}
    .mat-tab-label .mat-tab-label-content {
    color: white;
    font-size: 12px;
    }
    .mat-tab-group{
        height: 100%;
        width: 100%;
        margin-top: -2px;
        width: 100%;
    }
    
/////////resizeable///////////////
.main{
    
    background-color: #E0DCDC;
    // padding: 0 px;
    margin-top: -22px;
    width: 99%;
    // padding-right: 1px;
    border-left: 2px solid #e2dede;
    }
    .notes-panel{
    background-color: white;
    width: 100%;
    
    }
    .historypanel{
    margin-top: 2px;
    background-color: white;
    width: 100%;
    overflow-y:hidden;
    
    }
 ///////////history///////////
 .listdiv{
    height:100%;
    width:100%;
    }
    .mat-divider.mat-divider{
    border-top-width: 2px;
    }   